{% extends 'base.html' %}

{% block content %}
<div class="account-area mt-70 mb-70">
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="col-lg-6">
                <div class="basic-login mb-50">
                    <h5>Change password</h5>

                    <form action="" method="POST">
                        {% csrf_token %}
                        <label for="name">Current Password <span>*</span></label>
                        <input id="name" type="text" placeholder="Enter Username" name="currentpassword">
                        <label for="pass">New Password <span>*</span></label>
                        <input id="pass" type="password" placeholder="Enter password..." name="newpassword">
                        <label for="pass">Confirm Password <span>*</span></label>
                        <input id="pass" type="password" placeholder="Enter password..." name="confirmpassword">
                        
                        <button type="submit" class="tp-in-btn w-100">Save</button>
                        {% if messages %}
                        {% for message in messages %}
                            {{message}}
                        {% endfor %}
                        {% endif %}
                    </form>
                    <P></P>
                    
                </div>
            </div>
            
        </div>
    </div>
</div>

{% endblock %}