{% extends 'adminbase.html' %}

{% block content %}
<div class="your-order ">
    <div class="d-flex justify-content-center" >
                                        
    <div class="table-responsive col-lg-10 ">
      <table class="table table-hover">
        <thead>
          <tr>
            
            <th scope="col">Image</th>
            <th scope="col">name</th>
            <th scope="col">Total_price</th>
            
            
            <th scope="col">Order_status</th>
            <th scope="col">View_order</th>
            
          </tr>
        </thead>
        <tbody>
        {% for x in orderprod %}
          <tr>
            <td><img src="{{x.product.image}}" alt="" class="img-fluid img-thumbnail" style="width:140px; height:160px"><br>id :{{x.order.orderid}} <br>{{x.product.name}} x {{x.quantity}} </td>
            
            <td>{{x.order.address.firstname}}</td>
            
            <td>{{x.price}}</td>
            
            
            <td>{{x.status}}</td>
            {% if x.status == 'Cancelled' %}
            <td> <a href="" class="btn btn-danger"  >cancelled</a> </td>
            {% else %}
            
           
        <td>
          <form action="{% url 'orderstatus' x.id %}" method="POST">
            {% csrf_token %}
        

            <select  class="form-control" name ='status' >
              <option>Confirmed</option>
              <option>Shipped</option>
              <option>Out_for_delivery</option>
              <option>Delivered</option>
              

            </select>
           
        </td>
        <td><button type="submit" class="btn btn-primary">submit</button></td>
        {% endif %}
      </form>
      
        
      </tr>
            
          </tr>
          {% endfor %}
         
        </tbody>
      </table>
      
    </div>
    </div>
</div>
</div>

{% endblock %}